:root{
  --primary:rgb(193, 79, 176);
  --mainbg: #222;
  --sidebarbg: #292728;
  --dark-divide: #303030;
  --light: #FEFEFE;

  --global-font: Helvetica;
}

body{
  background: var(--mainbg);
  color:var(--light);
  font-family: var(--global-font);

}

a{
  color:var(--primary);
  font-weight: bold;
  text-decoration: none;
}

a:hover, a:active{
  text-decoration: underline;
}

.delete-button, .favorite-button{
  background: var(--mainbg);
  color: var(--light);
  border: none;
}

#notebook{
  width: 100vw;
  height: 100vh;
  background: var(--contentbg);
  display: grid;
  grid-template-columns: 250px minmax(200px, 1fr) minmax(200px, 1fr);
  grid-gap: 10px;
  grid-template-areas:
  'side-bar main preview';
  grid-template-rows: repeat(3, 1fr);
}

.side-bar{
  float:left;
  background: var(--sidebarbg);
  height: 100vh;
  grid-area: side-bar;
  grid-row: auto;
  padding: 0;
  text-align: left;
  overflow: auto;
}

.side-bar .add-button{
  cursor: pointer;
  display: block;
  background: var(--sidebarbg);
  color: var(--light);
  width: 100%;
  border:none;
  padding: 10px;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-bottom:solid 1px var(--mainbg);
}

.side-bar .add-button i{
  display: inline;
  font-size: 21px;
  position: absolute;
  left: 55px;
}

.side-bar .note {
  cursor: pointer;
  padding:10px 10px;
}

.side-bar > .notes .selected{
  background: var(--primary);
  color:var(--light);
}

.side-bar .star{
  float:right;
  font-size: 19px;
}

.main{
  background: var(--mainbg);
  grid-area: main;
  padding: 10px;
  border-right: dotted 1px var(--dark-divide);
  height: 90vh;
  width: auto;
}

.main > .toolbar {
  margin:0 0 10px 0;
}

.main > textarea{
  width: 95%;
  min-height: 40%;
  background: var(--mainbg);
  color: var(--light);
  border: solid 1px var(--dark-divide);
  padding: .5rem;
}

.main .status-bar{
  position: absolute;
  bottom: 20px;
  color:var(--light);
  font-size: .9rem;
}

input[type=text]{
  background: var(--mainbg);
  color:var(--light);
  font-size: 25px;
  font-weight: 500;
  border:none;
  border: solid 1px var(--dark-divide);
}

.preview{
  background: var(--mainbg);
  grid-area: preview;
  padding: 0px;
  height: 90vh;
}
